/*
 * RESET
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

ul,
li {
  list-style: none;
}

/*
 * CHROME
 */

.nav-link {
  padding: 5px 10px;
}

.main-header {
  padding: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.5);
}

.body-wrap {
  padding: 20px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

/*
 * HOME PAGE
 */

/*
 * DETAIL PAGE
 */
